<input type=text"" name="" value="" ng-model="mad.name" placeholder="Name">
<input type=text"" name="" value="" ng-model="mad.adj1" placeholder="Adjective">
<input type=text"" name="" value="" ng-model="mad.object1" placeholder="Object">
<input type=text"" name="" value="" ng-model="mad.object3" placeholder="Another Object">
<input type=text"" name="" value="" ng-model="mad.adj2" placeholder="Another Adjective">
<input type=text"" name="" value="" ng-model="mad.noun1" placeholder="Noun">
<input type=text"" name="" value="" ng-model="mad.name2" placeholder="Another Name">
<input type=text"" name="" value="" ng-model="mad.adverb" placeholder="Adverb">
<input type=text"" name="" value="" ng-model="mad.object2" placeholder="Another Object">

<button type="button" name="button" ng-click="addInput(mad)">bop it!</button>

sup
