<input type=text"" name="" value="" ng-model="mad.name" placeholder="Noun">
<input type=text"" name="" value="" ng-model="mad.adj1" placeholder="Verb">
<input type=text"" name="" value="" ng-model="mad.object1" placeholder="Adjective">
<input type=text"" name="" value="" ng-model="mad.object3" placeholder="Verb">
<input type=text"" name="" value="" ng-model="mad.adj2" placeholder="Adjective">
<input type=text"" name="" value="" ng-model="mad.noun1" placeholder="Noun">
<input type=text"" name="" value="" ng-model="mad.name2" placeholder="Noun">
<input type=text"" name="" value="" ng-model="mad.adverb" placeholder="Noun">
<input type=text"" name="" value="" ng-model="mad.object2" placeholder="Noun">

<button type="button" name="button" ng-click="addInput(mad)">bop it!</button>

sup
