<p>About three things I was absolutly positive. First, {{print.name}} was a {{print.object1}}. second, there was a {{print.object2}} of him- and I didn't know how {{print.adj1}} that {{print.adj2}} might be that thirsted for my {{print.object3}}. And thirs, I was {{print.adverb}} and {{print.noun1}} with {{print.name2}}.</p>

<!-- var app= angular.module('child',[])
app.controller('parent', function($scope){

<div>
  <button type="button" ng-click="madlib1()">Words</button>
</div>
<p>
    <span ng-class="item.cls" ng-repeat="item in novel">{{item.text}}
    </span>

</p> -->
